.glowing-dot {
  width: 10px;
  height: 10px;
  background-color: #EEFF41; /* Yellow */
  border-radius: 50%;
  box-shadow: 0 0 10px #EEFF41, 0 0 20px #EEFF41, 0 0 30px #EEFF41;
}

.city-label {
  color: white;
  background-color: rgba(111, 111, 111, 0.6);
  width: 120px;
  height: 42px;
  border-radius: 8px;
  margin-top: 15px;
  font-family: 'Sora', sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.city-label.expanded {
  width: 200px;
  height: auto;
  padding: 10px;
  white-space: normal;
  align-items: flex-start;
}

.city-name {
  font-size: 17px;
  font-weight: 600;
}

.city-year {
  font-size: 15px;
  font-weight: 400;
  margin-top: 12px;
}

.city-description {
  font-size: 15px;
  font-weight: 400;
  margin-top: 8px;
  text-align: left;
}

.hero-container {
  position: absolute;
  bottom: 50px; /* Changed from top */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}

.hero-text {
  color: white;
  font-family: 'Sora', sans-serif;
  font-size: 124px;
  font-weight: 520;
  line-height: normal;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: clamp(30px, 50vw, 84px);
    /* Adjust line-height if necessary to ensure it breaks into two lines */
    line-height: 1.2;
  }
}


.sub-hero-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  z-index: 20;
  position: relative;
}

.sub-hero-text {
  color: white;
  font-size: 19px;
  font-family: 'Sora';
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 32px;
}

.down-arrow {
  position: relative;
  top: 10px;
  width: 0;
  height: 16px;
  border: 1px solid;
  border-radius: 1px;
  animation: jumpInfinite 0.9s infinite;
  color: white;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 6px;
  left: -5px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-radius: 2px;
  transform: rotateZ(45deg);
  
}

 @keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

.scroll-target {
  height: 100vh;
  background-color: black;
}

.nowrap {
  white-space: nowrap;
}
