.glowing-dot {
  width: 10px;
  height: 10px;
  background-color: #EEFF41; /* Yellow */
  border-radius: 50%;
  box-shadow: 0 0 10px #EEFF41, 0 0 20px #EEFF41, 0 0 30px #EEFF41;
}

.city-label {
  color: white;
  background-color: rgba(111, 111, 111, 0.6);
  width: 120px;
  height: 42px;
  border-radius: 8px;
  margin-top: 15px;
  font-family: 'Sora', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.info-card h2 {
  margin-top: 0;
}

.info-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.hero-text {
  position: absolute;
  top: calc(50% + 250px);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Sora', sans-serif;
  font-size: 115px;
  font-weight: 600;
  text-align: center;
  width: 870px;
  line-height: normal;
  z-index: 10;
}
