.glowing-dot {
  width: 10px;
  height: 10px;
  background-color: #EEFF41; /* Yellow */
  border-radius: 50%;
  box-shadow: 0 0 10px #EEFF41, 0 0 20px #EEFF41, 0 0 30px #EEFF41;
}

.city-label {
  color: white;
  background-color: rgba(111, 111, 111, 0.6);
  width: 120px;
  height: 42px;
  border-radius: 8px;
  margin-top: 15px;
  font-family: 'Sora', sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.city-label.expanded {
  width: 200px;
  height: auto;
  padding: 10px;
  white-space: normal;
  align-items: flex-start;
}

.city-name {
  font-size: 18px;
  font-weight: 700;
}

.city-year {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.city-description {
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
  text-align: left;
}

.hero-text {
  position: absolute;
  top: calc(50% + 250px);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Sora', sans-serif;
  font-size: 124px;
  font-weight: 520;
  text-align: center;
  width: 100%;
  line-height: normal;
  z-index: 10;
}
